body {
    height: 100%;
    margin: 0;
}

header {
    margin: 3em;
}

main {
    margin-left: 3em;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.user-input {
    width: 45%;
}

.user-input input {
    margin-left: .5em;
    width: 70%;
}

.computer-hand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid navy;
    margin-right: 25%;
}

.computer-hand i {
    font-size: 3em;
}

.container button {
    background-color: lightcyan;
    border-style: groove;
}

.container button:hover {
    background-color: cyan;
}

.container i {
    font-size: 3em;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
}

.scoreboard h1 {
    width: 100%;
}

.scoreboard div {
    padding-right: 15em;
    margin-bottom: 2em;
}